main {
  .section-a {
    // height: 100px;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;

    text-align: center;
    font-size: 48px;
    padding: 10px;

    // .main-title {
    // }
  }

  .section-b {
    .b-title {
      font-size: 36px;
      text-align: center;
      padding: 5px;
    }
    .b-content {
    }
  }

  .section-c {
    .projects-title {
      font-size: 36px;
      text-align: center;
      padding: 5px;
    }
    .projects {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 10px;

      .item {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 15px;
        margin-top: 0;
        // height: 300px;
        width: 300px;
        .item-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 100;
          display: flex;
          flex-direction: row;
          align-items: center;
          text-align: center;
          transition: all 0.5s linear;
          .project-info {
            visibility: hidden;
            border: none;
            color: white;
            opacity: 0;
            transition: all 0.5s linear;
          }
          &:hover {
            background-color: rgba(black, 0.85);
            // color: white;
            .project-info {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .parallax1 {
    // background-image: url("../images/parallaximg1.jpeg");
    background-image: url("../images/parallaximg2.jpg");
    height: 300px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .overlay {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(black, 0.5);

      .img-container {
        border: none;
        width: 200px;
        margin: 0 auto;
        z-index: 10;

        img {
          border-radius: 50%;
        }

        .name {
          background-color: white;
          text-align: center;
          padding: 5px;
        }
      }
    }
  }

  .parallax2 {
    // background-image: url("../images/parallaximg2.jpg");
    background-image: url("../images/parallaximg1.jpeg");
    height: 300px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    // might not need an overlay
    .overlay {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(black, 0.5);
    }
  }
}
