main {
  .section-a {
    @include borderBlack();
    background-color: $primary-color;
    text-align: center;
    font-size: 48px;
    padding: 10px;
  }

  .section-b {
    .b-title {
      @include borderBlack();
      background-color: $primary-color;
      font-size: 42px;
      text-align: center;
      padding: 5px;
    }
    .b-content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: $secondary-color;
      min-height: 200px;
      width: 70%;
      margin: 25px auto;
      .content-info {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10px;
        font-size: 18px;
        &.bio {
          text-align: center;
        }
        &.bio2 {
          text-align: center;
        }
      }
      .my-skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 10px;
        .skills-title {
          font-size: 24px;
          padding: 10px;
        }
        .skills {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          max-height: 150px;
          width: 350px;
          .skill {
            // border: black 1px solid;
            font-size: 14px;
            padding: 5px;
            margin: 2px;
            width: 100px;
          }
        }
      }
    }
  }

  .section-c {
    .projects-title {
      @include borderBlack();
      background-color: $primary-color;
      font-size: 42px;
      text-align: center;
      padding: 5px;
    }

    .parallax2 {
      background-image: url("../images/parallaximg1.jpeg");

      background-attachment: fixed;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;

      .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.25);
        .projects {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          padding: 10px 7.5%;

          .item {
            @include borderWhite();
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 15px;
            width: 350px;
            .item-overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 100;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              // background-color: rgba(black, 0.4);
              text-align: center;
              transition: all 0.5s linear;
              .project-info-title,
              .project-info {
                border: none;
                color: white;
                opacity: 0;
                transition: all 0.5s linear;
              }
              .project-info-title {
                background-color: rgba(black, 1);
                border-radius: 5px;
                padding: 5px;
                font-size: 24px;
                opacity: 1;
              }
              .project-info {
                width: 80%;
                margin: 0 auto;
                display: none;
              }
              &:hover {
                background-color: rgba(black, 0.8);
                justify-content: space-evenly;
                .project-info-title {
                  background: none;
                  border-radius: 0;
                  border-bottom: white 1px solid;
                  padding: 0;
                }
                .project-info {
                  display: flex;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  .parallax1 {
    background-image: url("../images/parallaximg2.jpeg");
    height: 300px;

    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    .overlay {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(black, 0.25);

      .img-container {
        border: none;
        width: 200px;
        margin: 0 auto;
        z-index: 10;

        img {
          border: black 2px solid;
          border-radius: 50%;
        }

        .name {
          background-color: white;
          text-align: center;
          padding: 5px;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .parallax1 {
      background-attachment: initial;
    }

    .section-c {
      .parallax2 {
        background-attachment: initial;
      }
    }
  }
}
