nav {
  // maybe get rid of sticky position???
  position: sticky;
  top: 0px;
  background-color: $primary-color;
  z-index: 10;
  .navbar {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    .nav-item {
      text-align: center;
      width: 100px;
      padding: 10px 16px;
      &:hover {
        background-color: black;
        color: white;
        cursor: default;
      }
    }
  }
}

footer {
  @include borderBlack();
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 25px;
  text-align: center;
  .signautre {
    margin: 5px;
    padding: 5px;
    font-size: 24px;
  }
  .contact {
    text-align: center;
    margin: 5px;
    font-size: 22px;
  }
  .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
    a {
      .fa {
        border-radius: 50%;
        padding: 5px;
        font-size: 22px;
        text-align: center;
        text-decoration: none;
        margin: 5px;
        &.fa-linkedin {
          color: black;
        }
        &.fa-github {
          color: black;
        }
        &.fa-file-pdf-o {
          color: black;
        }
        &.fa-envelope {
          color: black;
        }
      }
    }
  }
  .credits {
    text-align: center;
    margin: 5px;
    .photo-credit {
      font-size: 12px;
      padding: 5px;
    }
  }
}
