* {
  box-sizing: border-box;
  border: black 1px solid;
}

$primary-color: white;

@import "navbar";
@import "content";

html {
  border: none;
}

body {
  margin: 0;
  border: none;
  background-color: $primary-color;
}

img {
  // border: none;
  display: block;
  width: 100%;
  height: auto;
}
