* {
  box-sizing: border-box;
}

$primary-color: #71eeb8;
$secondary-color: #bbf1d9;

@mixin borderBlack {
  border-top: black 2px solid;
  border-bottom: black 2px solid;
}

@mixin borderWhite {
  border: white 1px solid;
}

@import "navbar";
@import "content";

html {
  border: none;
}

body {
  margin: 0;
  border: none;
  background-color: white;
}

img {
  // border: none;
  display: block;
  width: 100%;
  height: auto;
}
