* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

$primary-color: #71eeb8;
$secondary-color: #bbf1d9;

@mixin borderBlack {
  border-top: black 2px solid;
  border-bottom: black 2px solid;
}

@mixin borderWhite {
  border: white 1px solid;
}

@import "navbar";
@import "content";

html {
  border: none;
}

body {
  margin: 0;
  border: none;
  background-color: $secondary-color;
}

img {
  // border: none;
  display: block;
  width: 100%;
  height: auto;
}
