* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; }

nav {
  position: sticky;
  top: 0px;
  background-color: #71eeb8;
  z-index: 10; }
  nav .navbar {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none; }
    nav .navbar .nav-item {
      text-align: center;
      width: 100px;
      padding: 10px 16px; }
      nav .navbar .nav-item:hover {
        background-color: black;
        color: white;
        cursor: default; }

.footer-divider {
  border-top: black 2px solid;
  border-bottom: black 2px solid;
  border-bottom: none;
  background-color: #71eeb8;
  height: 50px; }

footer {
  border-top: black 2px solid;
  border-bottom: black 2px solid;
  background-color: #bbf1d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 25px;
  text-align: center; }
  footer .signautre {
    margin: 5px;
    padding: 5px;
    font-size: 24px; }
  footer .contact {
    text-align: center;
    margin: 5px;
    font-size: 24px; }
  footer .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px; }
    footer .socials a .fa {
      border-radius: 50%;
      padding: 5px;
      font-size: 24px;
      text-align: center;
      text-decoration: none;
      margin: 5px; }
      footer .socials a .fa.fa-linkedin-square {
        color: black; }
      footer .socials a .fa.fa-github {
        color: black; }
      footer .socials a .fa.fa-file-pdf-o {
        color: black; }
      footer .socials a .fa.fa-envelope {
        color: black; }
  footer .credits {
    text-align: center;
    margin: 5px; }
    footer .credits .photo-credit {
      font-size: 12px;
      padding: 5px; }

main .section-a {
  border-top: black 2px solid;
  border-bottom: black 2px solid;
  background-color: #71eeb8;
  text-align: center;
  font-size: 48px;
  padding: 10px; }

main .section-b .b-title {
  border-top: black 2px solid;
  border-bottom: black 2px solid;
  background-color: #71eeb8;
  font-size: 42px;
  text-align: center;
  padding: 5px; }

main .section-b .b-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #bbf1d9;
  min-height: 200px;
  width: 70%;
  margin: 25px auto; }
  main .section-b .b-content .content-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px;
    font-size: 18px; }
    main .section-b .b-content .content-info.bio {
      text-align: center; }
    main .section-b .b-content .content-info.bio2 {
      text-align: center; }
  main .section-b .b-content .my-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 10px; }
    main .section-b .b-content .my-skills .skills-title {
      font-size: 24px;
      padding: 10px; }
    main .section-b .b-content .my-skills .skills {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-height: 150px;
      width: 350px; }
      main .section-b .b-content .my-skills .skills .skill {
        font-size: 14px;
        padding: 5px;
        margin: 2px;
        width: 100px; }

main .section-c .projects-title {
  border-top: black 2px solid;
  border-bottom: black 2px solid;
  background-color: #71eeb8;
  font-size: 42px;
  text-align: center;
  padding: 5px; }

main .section-c .projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 7.5%; }
  main .section-c .projects .item {
    border: white 1px solid;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 350px; }
    main .section-c .projects .item .item-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.7);
      text-align: center; }
      main .section-c .projects .item .item-overlay .project-info-title,
      main .section-c .projects .item .item-overlay .project-info {
        color: white; }

main .section-d .d-title {
  border-top: black 2px solid;
  border-bottom: black 2px solid;
  background-color: #71eeb8;
  font-size: 42px;
  text-align: center;
  padding: 5px; }

main .section-d .d-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 7.5%; }
  main .section-d .d-content .item {
    margin: 15px;
    width: 350px; }
    main .section-d .d-content .item .project {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      background-color: #bbf1d9;
      border: black 2px solid;
      border-bottom: black 1px solid;
      height: 200px;
      padding: 15px; }
      main .section-d .d-content .item .project .project-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba(255, 51, 51, 0.8); }
    main .section-d .d-content .item .project-link {
      display: flex;
      justify-content: center;
      align-items: center;
      border: black 2px solid;
      border-top: black 1px solid;
      background-color: #bbf1d9;
      text-align: center;
      padding: 5px; }
      main .section-d .d-content .item .project-link a {
        text-decoration: none; }

main .parallax1 {
  background-image: url("../images/parallaximg1.jpeg");
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  main .parallax1 .overlay {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25); }
    main .parallax1 .overlay .img-container {
      border: none;
      width: 200px;
      margin: 0 auto;
      z-index: 10; }
      main .parallax1 .overlay .img-container img {
        border: black 2px solid;
        border-radius: 50%; }
      main .parallax1 .overlay .img-container .name {
        background-color: white;
        text-align: center;
        padding: 5px; }

main .parallax2 {
  background-image: url("../images/parallaximg2.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  main .parallax2 .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25); }

main .project-info-title,
main .project-info {
  color: white;
  z-index: 2; }

main .project-info-title {
  border-bottom: white 1px solid;
  padding: 0;
  font-size: 24px; }

main .project-info {
  width: 80%;
  margin: 0 auto; }

@media only screen and (max-width: 600px) {
  main .parallax1 {
    background-attachment: initial; }
  main .section-c .parallax2 {
    background-attachment: initial; } }

html {
  border: none; }

body {
  margin: 0;
  border: none;
  background-color: #bbf1d9; }

img {
  display: block;
  width: 100%;
  height: auto; }
